/* Snack Bar start */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* Snack Bar ends */


/* Alert css starts */
.alertMargin{
    margin-left: 20px;
    margin-right: 20px;
}
/* Alert css ends */

/*
All Replies
*/
.dropdown-menu-right {
    right: 0;
    left: auto;
    }
.replyBorder{
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    border-width: 0.05px;
    border-color: #e5e5e5;
    padding-top : 10px;
    padding-bottom: 10px;
    padding-left: 15px;

    
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    
}

#postByTimeColumn{
    padding: 0px;
}
#mainReplyRow{
    margin-right: 35px;
    margin-left: 35px;
}

.individualMainReply{
    padding-top: 5px;
}

.textAreaForReply{
    box-sizing:auto;
}

#replyBodyColumn{
    margin-left: 10px;
    font-size: 15px;
    line-height: 1.5;
}

#replyColumn{
    text-align: right;
    /* padding-top:5px; */
    padding-bottom: 10px;
}
#connectColumn{
    text-align: right;
    padding-top:5px;
    padding-bottom: 5px;
}

.replyButtons{
    background-color: #f9f9f9;    
    color: #848484;
    min-width: initial;
    border: none;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
}

.replyButtons:hover{
    background-color: #EEEEEE;
    /* color: white; */
    color: #5A6268;
}

#replyIcon1{
    font-size: 12px;
}

#connectIcon1{
    font-size: 12px;    
}
/* BUTTON FOR EXPANDING POST */
.postExpandCol{
    text-align: right;
}
.showMore{
    height: 15px;
    width: 15px;
}


.downButton{
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.downButton:hover{
    background-color: #c9c9c9;
}
/* BUTTON FOR EXPANDING POST */

/* Expanded post columns */
#postImage{
    max-width:30%;
    max-height:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#descColumn{
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 1.5;
}

#textSubmitRow{
    /* border: #cdcdcd medium solid;
    border-width: 0.5px;
    border-radius: 5px; */
    padding: 10px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#submitReply{
    height: 100%;
}

#replySubmitColumn{
    padding: 0%;
    /* padding-top: 20px;
    padding-bottom: 14px; */
}
#addReplyColumn{
    padding: 0px;
}
#replyTextColumn{
    padding: 0%;
}

/* Expanded post columns ends*/
/* Connect and Reply Button css */

.buttonForConnect{
    background-color: #f9f9f9;
    color: #5A6268;
    min-width: initial;
    border: none;
}
.buttonForConnect:hover{
    background-color: #EEEEEE;
    /* color: white; */
    color: #5A6268;
}

.buttonForReply{
    background-color: #f9f9f9;
    color: #5A6268;
    min-width: initial;
    border: none;
}
.buttonForReply:hover{
    background-color: #EEEEEE;
    /* color: white; */
    color: #5A6268;
}

.connectCountSpan{
    margin-left: 10px;
}

.replyCountSpan{
    margin-left: 10px;
}
/* Button css ends */



/*
    CSS for testing starts
*/

body{
    background-color: #EEEEEE;
}


.custom-card {
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  margin: 15px;
  margin-left: 40px;
  margin-right: 40px; */

  box-shadow: 0 0 5px rgba(255,255,255,1), 0 0 5px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
  margin: 15px;
  margin-left: 150px;
  margin-right: 150px;

}

.thumbnail{
    border-radius: 10%;
    height: 60px;
    width: 60px;
    margin-top: 7px;
}

.card-padding{
    padding: 20px;

}

.time-username{
    font-size: 90%;
    padding-top: 3px;
    margin-top: 0px;
    /* font-style: italic; */
}

.post-title{
    font-weight: 200;
    font-size: 27px;
    line-height: 100%;
}

.reply-connect{
    padding-top: 5px;
    padding-bottom: 5px;

}

.icon_count{
    text-align: left;
    font-size: 15px;
    margin-top: 6px;
}

.reply_count{
    text-align: left;
    font-size: 15px;
    margin-top: 6px;
}
.connect-icon{
    color: #5A6268;

}

.reply-icon{
    color: #5A6268;

}


.description{
    font-size: 17px;
    line-height: 1.5;
}

#posts{
    text-align: center;
}
#sorted-by-label{
    font-size: 23px;
    padding-right: 10px;
    padding-top: 30px;
}
#posts-sortby{
    margin-top: 20px;
}

#addpost {
    background-color: grey;
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border-radius: 10%;
}

#addpost:hover {
    opacity: 1;
}
/*
    CSS for testing ends
*/










#login-register-button-holder{
    text-align: center;
    margin-top: 30px;
}

body{
    font-family: 'Lato', serif;
}

#welcome-heading{
    text-align: center;
    font-size: 75px;
    font-weight: bold;
}

#welcome-message{
    text-align: center;
    font-weight: normal;
    padding-right: 30%;
    padding-left: 30%;
}

#main-holder{
    margin-top: 15%;
}

.margin-top-for-form-elements{
    margin-top: 20px;
}

#register-modal-opener{
    margin-left: 5px;
    height: 110%;
    width: 100px;
    font-size: 17px;
}

#login-modal-opener{
    margin-right: 5px;
    height: 110%;
    width: 100px;
    font-size: 17px;
}

#mobilesearchrow{
    display: none;
}


/*
    Media query starts here
*/

@media only screen and (max-width: 500px) {

    #searchbycol{
        padding-right: 0px;
        margin-top: 8px;
    }

    #searchbygroup{
        padding-left: 0px;
    }

    #mobilesearchby{
        height: 40px;
    }

    #textSubmitRow{
        margin: 7px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #replySubmitColumn{
        padding: 0%;
        padding-top: 0px;
        padding-bottom: 7px;
    }

    #descColumn{
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 17px;
        line-height: 1.5;
    }

    #postImage{
        max-width:100%;
        max-height:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }

    .description{
        font-size: default;
        padding-top: 10px;
    }

    .time-username{
        font-size: 12px;
    }

    .post-title{
        font-size: 25px;
    }

    .reply_count{
        text-align: left;
    }

    .thumbnail{
        height: 45px;
        width: 45px;
    }

    #welcome-message{
        text-align: center;
        font-weight: normal;
        padding-right: 5%;
        padding-left: 5%;
    }

    #welcome-heading{
        font-size: 40px;
    }

    #main-holder{
        margin-top: 35%;
    }

    #searchOnNavbar{
        display: none;
    }

    

    #searchOutsideNavbar{
        display: block;
        height: 40px;
        margin-top: 8px;
        margin-right: 10px;
    }

    #searchAndButtonOutsideNav{
        margin-top: 15px;
    }

    #searchButtonOutsideNavbar{
        height: 40px;
        display: block;
    }

    #mobilesearchrow{
        display: block;
    }

    .custom-card{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 20px;
    }

}

/*
#temp-left{

    margin-top: 27%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#temp-right{
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#login-container{
    padding:30px;

    background-color: white;
}
#register-container{
    padding:30px;
    background-color: white;

}

#left-container{

}

#right-container{

}

.card-css{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bgcolor{
    background-color: #E2E1E0;
}

body{
    background-color: #E2E1E0;
}
*/
